/* FeedbackManagement.css */

/* General Container */
.feedback-management-container {
  display: flex;
}


/* Main Content Styling */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1;
}

.main-content h2 {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedback-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-table th, .feedback-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.feedback-table th {
  background-color: #3498db;
  color: white;
}

.feedback-table td {
  color: #2c3e50;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #c0392b;
}
.feedback-management-container h2{
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #007bff; /* Blue line under the heading */
  padding-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.feedback-management-container h2:hover {
  color: #007bff; /* Blue color on hover */
  transform: scale(1.05)}